.principal__conteneur {
  display: grid; // Passer à la grille CSS
  grid-template-columns: repeat(3, 1fr); // Trois colonnes par ligne
  gap: 20px; // Espacement entre les encadrés
}

.principal__article {
  border: 1px solid #aaa;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

/* pour le single.php  */

.single__conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.single__header h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.single__content {
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}