:root {
  --couleur1: #22738090;
  --couleur2: #8cb0bbb4;
  --couleur3: #d0d1d6b1;
}

.pied {
    background-color: var(--couleur1);
    padding: 20px 0;

    &__global {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        div {
            flex: 1;
            padding: 10px;
            text-align: left;
        }
    }
}