:root {
  --couleur1: #365d0c90;
  --couleur2: #3b8834b4;
  --couleur3: #d0d1d6b1;
}

.pied {
    background-color: var(--couleur1);
    padding: 20px 0;

    &__global {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        div {
            flex: 1;
            padding: 10px;
            text-align: left;
        }
    }
}

.logo {
    width: 150px;
    height: 150px;
}