
html, body {
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.global {
  max-width: 1150px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.184);
  padding-top: 40px;
  padding-bottom: 40px;
}

.entete {
   background-color: rgba(98, 191, 191, 0.549);
}


.principal {
  background-color: rgba(200, 199, 199, 0.467);
}

.pied {
  background-color: rgba(118, 194, 194, 0.549);
}
